doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title #{docTitle}
        link(rel="shortcut icon" href="/img/favicon.png" type="image/x-icon")
        link(rel="stylesheet" href="/css/bootstrap.min.css")
    body 
        main
            div.d-flex.align-items-center.justify-content-center.vh-100
                div.text-center
                    h1.display-1.fw-bold 404
                    p.fs-3
                        span.text-danger Opps! 
                        span Page not found.
                    p.lead The page you're looking for doesn't exist.
                    a(href="/").btn.btn-primary Go Home
        script(src="/js/bootstrap.bundle.min.js")