extends layouts/main-layout.pug

block content
    div.container
        div.row.pt-4
            div.col
                form(action="/producto/add" method="POST")
                    div.mb-3
                        label.form-label(for="title") Nombre
                        input.form-control(type="text" id="title" name="title")
                    div.mb-3
                        label.form-label(for="price") Precio
                        input.form-control(type="number" id="price" name="price")
                    div.mb-3
                        label.form-label(for="thumbnail") URL Imagen
                        input.form-control(type="url" id="thumbnail" name="thumbnail")
                    button.btn.btn-primary(type="submit") Guardar